.carrossel__titulo {
    color: var(--laranja);
    background-color: white;
    padding: 1.5em 0px 0.5em 0px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5em;
    width: 100vw;
}
.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-slide img {
    width: 100%;
}
.swiper-pagination {
    position: initial;
    margin-bottom: 0.5em;
}
.saiba-mais-estrelinhas {
    width: 70%;
}

@media screen and (min-width:1024px) {
    .swiper {
        width: 60%;
        margin: 0px auto;
    }
    .swiper-wrapper {
        margin: 2em auto;
    }
    .swiper-button-prev, .swiper-button-next {
        display: block;
    }
    .carrossel__titulo {
        font-size: 32px;
    }
    .principal__conteudo{
        display: block;
    }
}
@media screen and (min-width:1673px) {
    .principal {
        display: flex;
        flex-direction: column;
    }
    .swiper {
        width: 34vw;
    }
    .principal__conteudo {
        display: grid;
        grid-template-columns: 60% 40%;
        width: 70%;
        gap: 1em;
        margin: 1em auto;
    }
    
}