.cabecalho {
    width: 100vw;
    height: 4em;
    padding: 1em;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
}
.menu {
    /*sempre dentro de aspas dupla*/
    background-image: url("..//img/Menu.svg");
    width: 35px;
    height: 24px;
    display: inline-block;
    
}
.cabecalho__container{
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 1em;
    

}
/*depois que definir esse funcionamento do checkbox, para fazer o meneu__links aparecer deve 
por o menu__links como display none */

.container__button:checked~.menu__categorias {
    display: block;
    
}


.container__button {
    display: none;
   
}
.menu__categorias {
    display: none;
    position: absolute;
    top: 100%;
    background: white;
    width: 80vw;
    left: 0px;
    
}
.menu__categoria {
    padding: 1em;
}
.menu__categoria a {
    text-decoration: none;
    color: var(--azul-gradiente);
    font-weight: 400;
}
.nome__menu-categoria {
    color: var(--laranja);
    font-weight: 700;
}
.cabecalho__logo-alurabooks {
    display: none;
}

.lista__itens {
    display: none;
}

 @media screen and (min-width:1024px) {
    .lista__itens {
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .cabecalho__logo-alurabooks b{
        font-weight: 700;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }
    .cabecalho__logo-alurabooks {
        display: block;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
    }

    .menu_categorias-1024px, .menu, #menu {
        display: none;
    }
    .menu_categoriasx2024{
        position: absolute;
        background-color: white;
        padding: 0.8em;
    }
    .menu__categoriaX2024 {
        margin-top: 1em;
        margin-bottom: 1em;
        
    }
    #categorias{
        display: none;
    }
    #categorias:checked~.menu_categoriasx2024{
        display: none;
    }
    .menu__categoriaX2024 a{
        text-decoration: none;
        color: var(--azul-letra);
    }
 }